# Análise de Dados

# Carregando dados - Pandas

In [14]:
import pandas as pd

In [15]:
dados = pd.read_excel("vendas.xlsx")

In [16]:
dados

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
0,PED1994,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,5,Dinheiro,2020-01
1,PED2246,2020-01-01,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Débito,2020-01
2,PED3876,2020-01-01,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,300ml,Delivery,7,Crédito,2020-01
3,PED4352,2020-01-01,Loja 1,Fortaleza,Ceará,Nordeste,1000ml,Consumo no local,7,Débito,2020-01
4,PED8633,2020-01-01,Loja 5,São Paulo,São Paulo,Sudeste,200ml,Delivery,9,Crédito,2020-01
...,...,...,...,...,...,...,...,...,...,...,...
69995,PED67084,2022-12-31,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Crédito,2022-12
69996,PED67857,2022-12-31,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,200ml,Consumo no local,7,Pix,2022-12
69997,PED69171,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,500ml,Consumo no local,5,Dinheiro,2022-12
69998,PED69229,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,9,Pix,2022-12
69999,PED69356,2022-12-31,Loja 1,Fortaleza,Ceará,Nordeste,300ml,Delivery,9,Pix,2022-12

# Análise Exploratória

In [17]:
dados.head()

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
0,PED1994,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,5,Dinheiro,2020-01
1,PED2246,2020-01-01,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Débito,2020-01
2,PED3876,2020-01-01,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,300ml,Delivery,7,Crédito,2020-01
3,PED4352,2020-01-01,Loja 1,Fortaleza,Ceará,Nordeste,1000ml,Consumo no local,7,Débito,2020-01
4,PED8633,2020-01-01,Loja 5,São Paulo,São Paulo,Sudeste,200ml,Delivery,9,Crédito,2020-01

In [18]:
dados.tail()

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
69995,PED67084,2022-12-31,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Crédito,2022-12
69996,PED67857,2022-12-31,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,200ml,Consumo no local,7,Pix,2022-12
69997,PED69171,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,500ml,Consumo no local,5,Dinheiro,2022-12
69998,PED69229,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,9,Pix,2022-12
69999,PED69356,2022-12-31,Loja 1,Fortaleza,Ceará,Nordeste,300ml,Delivery,9,Pix,2022-12

In [19]:
dados.shape

(70000, 11)

# Estatísticas

In [20]:
dados.describe()

              preco
count  70000.000000
mean       8.355200
std        2.653061
min        5.000000
25%        7.000000
50%        7.000000
75%       11.000000
max       13.000000

# Análises

In [21]:
dados.

SyntaxError: invalid syntax (133817988.py, line 1)

In [ ]:
# Total de pedidos por loja
dados.loja.value_counts()

In [ ]:
# Total de pedidos por forma de pagamento
dados.forma_pagamento.value_counts()

In [ ]:
# Total de pedidos por tamanho de copo
dados.tamanho.value_counts()

# Faturamanento

In [ ]:
# Faturamento por loja
dados.groupby("loja").sum()

In [ ]:
# Ticket médio por loja
dados.groupby("loja").mean()

In [ ]:
dados.groupby(["estado", "loja"]).sum()

In [ ]:
dados.groupby(["regiao", "loja"]).sum()

In [ ]:
dados_agrupados_regiao_loja = dados.groupby(["regiao", "loja"]).sum()

In [ ]:
dados_agrupados_regiao_loja.to_excel("Faturamento por região.xlsx")

# Visualização de Dados - Plotly Express

In [ ]:
import plotly_express as px

In [ ]:
px.histogram(dados, x='loja', color='estado', text_auto=True)

In [ ]:
grafico = px.histogram(dados, x='loja', y='preco', color='forma_pagamento', text_auto=True)

In [ ]:
grafico.show()

In [ ]:
grafico.write_html("Forma de pagamento por loja.html")

In [ ]:
px.histogram(dados, x='estado', y='preco', color='forma_pagamento', text_auto=True)

In [ ]:
# Listas
colunas = ["loja", "cidade", "estado", "regiao", "tamanho", "local_consumo", "forma_pagamento"]

In [ ]:
for coluna in colunas:
    grafico = px.histogram(dados, x=coluna, y='preco', color='forma_pagamento', text_auto=True)
    grafico.show()
    grafico.write_html(f"grafico - {coluna}.html")