# Análise de Dados

# Carregando dados - Pandas

In [3]:
import pandas as pd

In [4]:
dados = pd.read_excel("vendas.xlsx")

In [5]:
dados

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
0,PED1994,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,5,Dinheiro,2020-01
1,PED2246,2020-01-01,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Débito,2020-01
2,PED3876,2020-01-01,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,300ml,Delivery,7,Crédito,2020-01
3,PED4352,2020-01-01,Loja 1,Fortaleza,Ceará,Nordeste,1000ml,Consumo no local,7,Débito,2020-01
4,PED8633,2020-01-01,Loja 5,São Paulo,São Paulo,Sudeste,200ml,Delivery,9,Crédito,2020-01
...,...,...,...,...,...,...,...,...,...,...,...
69995,PED67084,2022-12-31,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Crédito,2022-12
69996,PED67857,2022-12-31,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,200ml,Consumo no local,7,Pix,2022-12
69997,PED69171,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,500ml,Consumo no local,5,Dinheiro,2022-12
69998,PED69229,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,9,Pix,2022-12
69999,PED69356,2022-12-31,Loja 1,Fortaleza,Ceará,Nordeste,300ml,Delivery,9,Pix,2022-12

# Análise Exploratória

In [6]:
dados.head()

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
0,PED1994,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,5,Dinheiro,2020-01
1,PED2246,2020-01-01,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Débito,2020-01
2,PED3876,2020-01-01,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,300ml,Delivery,7,Crédito,2020-01
3,PED4352,2020-01-01,Loja 1,Fortaleza,Ceará,Nordeste,1000ml,Consumo no local,7,Débito,2020-01
4,PED8633,2020-01-01,Loja 5,São Paulo,São Paulo,Sudeste,200ml,Delivery,9,Crédito,2020-01

In [7]:
dados.tail()

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
69995,PED67084,2022-12-31,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Crédito,2022-12
69996,PED67857,2022-12-31,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,200ml,Consumo no local,7,Pix,2022-12
69997,PED69171,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,500ml,Consumo no local,5,Dinheiro,2022-12
69998,PED69229,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,9,Pix,2022-12
69999,PED69356,2022-12-31,Loja 1,Fortaleza,Ceará,Nordeste,300ml,Delivery,9,Pix,2022-12

In [8]:
dados.shape

(70000, 11)

# Estatísticas

In [9]:
dados.describe()

              preco
count  70000.000000
mean       8.355200
std        2.653061
min        5.000000
25%        7.000000
50%        7.000000
75%       11.000000
max       13.000000

# Análises

In [13]:
dados["loja"]

0        Loja 4
1        Loja 6
2        Loja 3
3        Loja 1
4        Loja 5
          ...
69995    Loja 6
69996    Loja 3
69997    Loja 4
69998    Loja 4
69999    Loja 1
Name: loja, Length: 70000, dtype: object

In [14]:
# Total de pedidos por loja
dados.loja.value_counts()

Loja 4    13483
Loja 6    13075
Loja 1    12344
Loja 5    12177
Loja 3    10603
Loja 2     8318
Name: loja, dtype: int64

In [ ]:
# Total de pedidos por forma de pagamento
dados.forma_pagamento.value_counts()

In [15]:
# Total de pedidos por tamanho de copo
dados.tamanho.value_counts()

300ml     20475
200ml     15804
500ml     13591
700ml     11158
1000ml     8972
Name: tamanho, dtype: int64

# Faturamanento

In [16]:
# Faturamento por loja
dados.groupby("loja").sum()

         preco
loja
Loja 1  103162
Loja 2   69592
Loja 3   88357
Loja 4  112379
Loja 5  102189
Loja 6  109185

In [17]:
# Ticket médio por loja
dados.groupby("loja").mean()

           preco
loja
Loja 1  8.357259
Loja 2  8.366434
Loja 3  8.333208
Loja 4  8.334866
Loja 5  8.391968
Loja 6  8.350669

In [18]:
dados.groupby(["estado", "loja"]).sum()

                        preco
estado         loja
Ceará          Loja 1  103162
Rio de Janeiro Loja 2   69592
               Loja 3   88357
Santa Catarina Loja 6  109185
São Paulo      Loja 4  112379
               Loja 5  102189

In [19]:
dados.groupby(["regiao", "loja"]).sum()

                  preco
regiao   loja
Nordeste Loja 1  103162
Sudeste  Loja 2   69592
         Loja 3   88357
         Loja 4  112379
         Loja 5  102189
Sul      Loja 6  109185

In [ ]:
dados_agrupados_regiao_loja = dados.groupby(["regiao", "loja"]).sum()

In [ ]:
dados_agrupados_regiao_loja.to_excel("Faturamento por região.xlsx")

# Visualização de Dados - Plotly Express

In [ ]:
import plotly_express as px

In [ ]:
px.histogram(dados, x='loja', color='estado', text_auto=True)

In [ ]:
grafico = px.histogram(dados, x='loja', y='preco', color='forma_pagamento', text_auto=True)

In [ ]:
grafico.show()

In [ ]:
grafico.write_html("Forma de pagamento por loja.html")

In [ ]:
px.histogram(dados, x='estado', y='preco', color='forma_pagamento', text_auto=True)

In [ ]:
# Listas
colunas = ["loja", "cidade", "estado", "regiao", "tamanho", "local_consumo", "forma_pagamento"]

In [ ]:
for coluna in colunas:
    grafico = px.histogram(dados, x=coluna, y='preco', color='forma_pagamento', text_auto=True)
    grafico.show()
    grafico.write_html(f"grafico - {coluna}.html")